<%- include('partials/header.ejs') %>
    <!-- css file-->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/footer.css">
<%- include('partials/navbar.ejs') %>

<div class="container">
    <h1>Welcome to Our Dog-loving Community!</h1>

    <div class="introduce">
        <p>
            At Pet Stop, we are not just a blog; we are a community of passionate dog lovers who share a common bond—the love for our furry companions. Our journey began with a simple idea: to create a space where fellow dog enthusiasts could come together to celebrate the joy, quirks, and unconditional love that our four-legged friends bring into our lives.
        </p>
    </div>

    <div class="mission">
        <h2>Our Mission</h2>
        <p>We are on a mission to provide valuable information, heartwarming stories, and expert advice to enhance the well-being of your beloved canine companions. Whether you are a seasoned dog parent, a new puppy owner, or just an admirer of these incredible creatures, you'll find something for everyone at Pet Stop.</p>
    </div>

    <div class="Meet-the-team">
        <h2>Meet the Team</h2>
        <p>Behind every tail-wagging post and insightful article is a team of dedicated individuals who are as passionate about dogs as you are. From experienced veterinarians to dog behavior specialists, our team brings a wealth of knowledge to ensure that the content we provide is not only enjoyable but also informative and trustworthy.</p>
    </div>

    <div class="offer">
        <h2>What We Offer</h2>
        <ul>
            <li><span class="bold">Articles</span>: Dive into our comprehensive articles covering topics from dog care and health to training tips and breed-specific information.</li>
            <li><span class="bold">Heartwarming Stories</span>: Get ready for a dose of inspiration and joy as we share heartwarming stories about dogs and their incredible impact on our lives.</li>
            <li><span class="bold">Expert Advice</span>: Benefit from the expertise of our professionals who offer practical advice on nutrition, grooming, behavior, and more.</li>
        </ul>
    </div>

    <div class="join-us">
        <h2>Join Our Pack!</h2>
        <p>We invite you to become a part of our growing community. Share your stories, ask questions, and connect with fellow dog lovers who understand the unique bond we share with our canine companions. Together, let's create a space where every dog is celebrated and every pet parent is supported on their journey of unconditional love.</p>
        <p>Thank you for being here and sharing the love for our furry friends!</p>
        <p><span class="bold">Pet Stop</span></p>
    </div>
</div>

<%- include('partials/footer.ejs') %>
</body>
</html>