<%- include('partials/header.ejs') %>
    <!-- css file-->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/addpost.css">
    <link rel="stylesheet" href="styles/footer.css">
<%- include('partials/navbar.ejs') %>


<div class="container">
    <h1>Delete Post</h1>
    
    
    <form class="deletepost-form" action="/deletepost/submit" method="POST">
        <h3>Enter the post title that you wish to delete:</h3>
        <label for="postTitle">Title:</label><br>
        <input type="text" id="postTitle" name="postTitle"><br>
        
        <input type="submit" value="Submit">
    </form>
</div>


  <%- include('partials/footer.ejs') %>
</body>
</html>